spring:
  application:
    name: OpenFeign

server:
  port: 4000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:1111/eureka

#ø™∆ÙDebug»’÷æ
logging:
  level:
    com:
      xsc:
        feignhello:
          service: debug
